<div class="p-6">
  <h1>Breadcrumb</h1>
  <nav aria-label="breadcrumbs">
    <ul class="steps ">
      <li>
        <div>
          <a href="javascript:{}">Introduction</a>
          <svg class="breadcrumbicon"><use xlink:href="#angle-double-right"></use></svg>
        </div>
      </li>
      <li>
        <div>
          <a href="javascript:{}">Components</a
          ><svg class="breadcrumbicon"><use xlink:href="#angle-double-right"></use></svg>
        </div>
      </li>
      <li>
        <div class="current"><span id="current">breadcrumb</span></div>
      </li>
    </ul>
  </nav>
</div>
