<div class="p-6">
  <div class="top">
    <h1>Popovers</h1>
  </div>
  <h2 class="mt-5">Quick and easy popovers</h2>
  <div class="popovers">
    <button
      type="button"
      class="btn btn-outline-secondary mr-2 mb-2"
      placement="top"
      ngbPopover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      popoverTitle="Popover on top"
    >
      Popover on top
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary mr-2 mb-2"
      placement="right"
      ngbPopover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      popoverTitle="Popover on right"
    >
      Popover on right
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary mr-2 mb-2"
      placement="bottom"
      ngbPopover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      popoverTitle="Popover on bottom"
    >
      Popover on bottom
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary mr-2 mb-2"
      placement="left"
      ngbPopover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      popoverTitle="Popover on left"
    >
      Popover on left
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary mr-2 mb-2"
      placement="top"
      ngbPopover="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    >
      Popover no title
    </button>
  </div>
  <h2 class="mt-5">Custom Triggers</h2>
  <code>mouseenter:mouseleave</code>
  <div class="popovers">
    <button
      type="button"
      class="btn btn-outline-secondary mr-2 mb-2"
      ngbPopover="You see me on hover!"
      triggers="mouseenter:mouseleave"
      popoverTitle="Hovered"
    >
      Hover over me!
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary mr-2 mb-2"
      ngbPopover="You see me on hover!"
      triggers="mouseenter:mouseleave"
    >
      Hover over me!
    </button>
  </div>
</div>
