<div class="p-6">
  <h1>Card</h1>
  <p class="intro">
    Cards provide a flexible and extensible content container with multiple variants and options.
  </p>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      <a href="javascript:{}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
