// @import '~@progress/kendo-theme-bootstrap/scss/all.scss';

// .k-grid tr.even { background-color: #f4f8ff; }
//        .k-grid tr.odd { background-color: #ffff; }

//  .grid-header{background-color: #CCD8ED;color: #414141;border-color: #c5c4c5;}
