<div class=" p-6">
  <h1>Introduction</h1>
  <p class="intro">
    Get started with the
    <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> theme that matches the Mayo Clinic Laboratories
    brand standards.
  </p>
  <h2>Quick Start</h2>
  <p>
    The source code for the Bootstrap theme is stored in the
    <a href="https://tfs.mayo.edu/tfs/MayoClinic/LPEA/_git/LPEA_MCL_BOOTSTRAP_THEME" target="_blank">LPEA Team</a>
    repository code. Download or clone the repository to your local system to make updates to the customizations in this
    theme.
  </p>
  <h2>Install</h2>
  <p>
    This custom bootstrap theme has been setup as an npm library that can be installed in projects that need to be
    skinned with this theme.
  </p>
  <pre><code [highlight]="code" [languages]="['bash']"></code></pre>
</div>
