<div class="p-4">
  <h1>Buttons</h1>
  <p class="intro">
    Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.
  </p>
  <h2>Switches</h2>
  <div class="mt-5">
    <!-- Small switch -->
    <div class="form-group">
      <span class="switch switch-sm">
        <input type="checkbox" class="switch" id="switch-sm" />
        <label for="switch-sm">Small switch</label>
      </span>
    </div>

    <!-- Normal switch -->
    <div class="form-group">
      <span class="switch">
        <input type="checkbox" class="switch" id="switch-normal" />
        <label for="switch-normal">Normal switch</label>
      </span>
    </div>

    <!-- Large switch -->
    <div class="form-group">
      <span class="switch switch-lg">
        <input type="checkbox" class="switch" id="switch-lg" />
        <label for="switch-lg">Large switch</label>
      </span>
    </div>
  </div>
</div>
