<main class="p-6">
  <h1>Color Palette</h1>
  <p>
    The Mayo Clinic brand color palette from <a href="https://elementui.mayo.edu/#/core" target="_blank">Element.UI</a>.
  </p>
  <h3 id="color">Color</h3>
  <section class="color-stacks">
    <ul class="color-stack">
      <li style="background: #f9f9f9; color: #333;">
        <span class="sass">$color-grey-5</span>
        <span class="hex">#f9f9f9</span>
      </li>
      <li style="background: #e2e2e2; color: #333;">
        <span class="sass">$color-grey-10</span>
        <span class="hex">#e2e2e2</span>
      </li>
      <li style="background: #c5c4c5; color: #333;">
        <span class="sass">$color-grey-20</span>
        <span class="hex">#c5c4c5</span>
      </li>
      <li style="background: #6d6c6d; color: #fff;">
        <span class="sass">$color-grey-50</span>
        <span class="hex">#6d6c6d</span>
      </li>
      <li style="background: #575657; color: #fff;">
        <span class="sass">$color-grey-70</span>
        <span class="hex">#575657</span>
      </li>
      <li style="background: #414141; color: #fff;">
        <span class="sass">$color-grey-90</span>
        <span class="hex">#414141</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #f4f8ff; color: #333;">
        <span class="sass">$color-mayo-5</span>
        <span class="hex">#f4f8ff</span>
      </li>
      <li style="background: #e5ebf6; color: #333;">
        <span class="sass">$color-mayo-10</span>
        <span class="hex">#e5ebf6</span>
      </li>
      <li style="background: #ccd8ed; color: #333;">
        <span class="sass">$color-mayo-20</span>
        <span class="hex">#ccd8ed</span>
      </li>
      <li style="background: #99b1db; color: #333;">
        <span class="sass">$color-mayo-40</span>
        <span class="hex">#99b1db</span>
      </li>
      <li style="background: #0046ad; color: #fff;">
        <span class="sass">$color-mayo-50</span>
        <span class="hex">#0046ad</span>
      </li>
      <li style="background: #071d49; color: #fff;">
        <span class="sass">$color-mayo-90</span>
        <span class="hex">#071d49</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #cce8ff; color: #333;">
        <span class="sass">$color-blue-10</span>
        <span class="hex">#cce8ff</span>
      </li>
      <li style="background: #99d1ff; color: #333;">
        <span class="sass">$color-blue-20</span>
        <span class="hex">#99d1ff</span>
      </li>
      <li style="background: #008cff; color: #333;">
        <span class="sass">$color-blue-50</span>
        <span class="hex">#008cff</span>
      </li>
      <li style="background: #0070cc; color: #333;">
        <span class="sass">$color-blue-70</span>
        <span class="hex">#0070cc</span>
      </li>
      <li style="background: #005499; color: #333;">
        <span class="sass">$color-blue-90</span>
        <span class="hex">#005499</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #ffdccc; color: #333">
        <span class="sass">$color-red-10</span>
        <span class="hex">#ffdccc</span>
      </li>
      <li style="background: #feb999; color: #333">
        <span class="sass">$color-red-20</span>
        <span class="hex">#feb999</span>
      </li>
      <li style="background: #fd5000; color: #333">
        <span class="sass">$color-red-50</span>
        <span class="hex">#fd5000</span>
      </li>
      <li style="background: #ca4000; color: #fff">
        <span class="sass">$color-red-70</span>
        <span class="hex">#ca4000</span>
      </li>
      <li style="background: #983000; color: #fff">
        <span class="sass">$color-red-90</span>
        <span class="hex">#983000</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #d0effa; color: #333">
        <span class="sass">$color-light-blue-10</span>
        <span class="hex">#d0effa</span>
      </li>
      <li style="background: #a1e0f5; color: #333">
        <span class="sass">$color-light-blue-20</span>
        <span class="hex">#a1e0f5</span>
      </li>
      <li style="background: #14b1e5; color: #fff">
        <span class="sass">$color-light-blue-50</span>
        <span class="hex">#14b1e5</span>
      </li>
      <li style="background: #108eb7; color: #fff">
        <span class="sass">$color-light-blue-70</span>
        <span class="hex">#108eb7</span>
      </li>
      <li style="background: #0c6a89; color: #fff">
        <span class="sass">$color-light-blue-90</span>
        <span class="hex">#0c6a89</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #cdd2db; color: #333;">
        <span class="sass">$color-dark-blue-10</span>
        <span class="hex">#cdd2db</span>
      </li>
      <li style="background: #9ca5b6; color: #333;">
        <span class="sass">$color-dark-blue-20</span>
        <span class="hex">#9ca5b6</span>
      </li>
      <li style="background: #071d49; color: #fff;">
        <span class="sass">$color-dark-blue-50</span>
        <span class="hex">#071d49</span>
      </li>
      <li style="background: #06173a; color: #fff;">
        <span class="sass">$color-dark-blue-70</span>
        <span class="hex">#06173a</span>
      </li>
      <li style="background: #04112c; color: #fff;">
        <span class="sass">$color-dark-blue-90</span>
        <span class="hex">#04112c</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #f3d5e8; color: #333;">
        <span class="sass">$color-pink-10</span>
        <span class="hex">#f3d5e8</span>
      </li>
      <li style="background: #e7abd1; color: #333;">
        <span class="sass">$color-pink-20</span>
        <span class="hex">#e7abd1</span>
      </li>
      <li style="background: #c22d8c; color: #fff;">
        <span class="sass">$color-pink-50</span>
        <span class="hex">#c22d8c</span>
      </li>
      <li style="background: #9b2470; color: #fff;">
        <span class="sass">$color-pink-70</span>
        <span class="hex">#9b2470</span>
      </li>
      <li style="background: #741b54; color: #fff;">
        <span class="sass">$color-pink-90</span>
        <span class="hex">#741b54</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #feecd1; color: #333;">
        <span class="sass">$color-orange-10</span>
        <span class="hex">#feecd1</span>
      </li>
      <li style="background: #fddaa4; color: #333;">
        <span class="sass">$color-orange-20</span>
        <span class="hex">#fddaa4</span>
      </li>
      <li style="background: #f9a21b; color: #fff;">
        <span class="sass">$color-orange-50</span>
        <span class="hex">#f9a21b</span>
      </li>
      <li style="background: #c78216; color: #fff;">
        <span class="sass">$color-orange-70</span>
        <span class="hex">#c78216</span>
      </li>
      <li style="background: #956110; color: #fff;">
        <span class="sass">$color-orange-90</span>
        <span class="hex">#956110</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #d9efd4; color: #333;">
        <span class="sass">$color-green-10</span>
        <span class="hex">#d9efd4</span>
      </li>
      <li style="background: #b4dfaa; color: #333;">
        <span class="sass">$color-green-20</span>
        <span class="hex">#b4dfaa</span>
      </li>
      <li style="background: #43b02a; color: #fff;">
        <span class="sass">$color-green-50</span>
        <span class="hex">#43b02a</span>
      </li>
      <li style="background: #368d22; color: #fff;">
        <span class="sass">$color-green-70</span>
        <span class="hex">#368d22</span>
      </li>
      <li style="background: #286a19; color: #fff;">
        <span class="sass">$color-green-90</span>
        <span class="hex">#286a19</span>
      </li>
    </ul>
    <ul class="color-stack">
      <li style="background: #1e1e1e; color: #fff;">
        <span class="sass">$black</span>
        <span class="hex">#1e1e1e</span>
      </li>
      <li style="background: #333333; color: #fff;">
        <span class="sass">$text-dark</span>
        <span class="hex">#333333</span>
      </li>
      <li style="background: #fefefe; color: #333;">
        <span class="sass">$text-light</span>
        <span class="hex">#fefefe</span>
      </li>
      <li style="background: #fff; color: #333;">
        <span class="sass">$white</span>
        <span class="hex">#ffffff</span>
      </li>
    </ul>
  </section>
</main>
